<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Acceuil</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" 
						aria-expanded="false" aria-controls="navbar">
						<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Module d'inscription et de login</a>
			</div>
			<div id="navbar" sec:authorize="isAuthenticated()">
				<a  class="btn btn-outline-danger btn-sm" th:href="@{/logout}">Déconnexion</a></li>
			</div>
		</div>
	</nav>
	<br/>
	<br/>
	
	<div class="container">
		<h1>Acceuil</h1>
		
		Bienvenu <span sec:authentication="principal.username"> User</span>
	</div>
</body>
</html>